body{
    font:14px "Helvetica Neue", Helvetica, Arial, sans-serif; ;
    margin: 0;
    padding: 0;
}


a:any-link{
    color: blue;
    text-decoration: none;
}

/*--default --*/

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

/*-- Login Wrapper --*/
.login-wrapper{

    width: 920px;
    margin: 0 auto;
    background-color: #bababa;
    text-align: center;
    height: 100vh;
    padding: 50px 20px 25px;
}

/*-- Login Form --*/

.login-form{
    width: 320px;
    margin: 30px auto 0;
}

.login-form input.xinput{
    border-radius: 0;
    margin-bottom: 8px;
    border:1px dotted #000;
}

input.xinput:placeholder-shown{
    font-style: italic;
}

.login-form button{

}

.login-form label{
    font-weight: 100;
    font-size: 12px;
    margin-top: 12px;
}

.login-form label > span{
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}

#register-modal .modal-content{
    border-radius: 0;
}
#register-modal .modal-header{
    padding: 8px;
}


/*-- Main -wrapper --*/

.main-wrapper{
    padding: 15px 0 0;
    height: 100vh;
    position: relative;
    width: 100%;
    display: block;
}


/*-- Navigation --*/
.navigation {
    border-bottom: 1px solid #e1e1e1;
    padding:0;
    min-height: auto;
    margin-bottom: 0;
}

.navigation .logo > img{
    max-width: 64px;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    background: #000;
    color: #fff;
}


/*-- Notes --*/

.notex{
    position: relative;
    border: 1px solid #e1e1e1;
    height: 350px;
    overflow: hidden;
}

.titlebarlabel {
    background: #e7e7e7;
    padding: 10px;
    position: relative;
}

h4.notextitle {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #fff;

}

button.addBtn:hover {
    background-color: #337ab7;
    color: #fff;
    transition: color linear 3ms;
}

.close {
    position: absolute;
    right: 2px;
    top: 0;
    padding: 0;
}

input#myInput {
    width: 75%;
    padding: 2px;
    font-size: 12px;
}

.noteContainer{
    overflow: auto;
    position: relative;
    width: 100%;
}

.noteList li{
    font-size: 12px;
    line-height: 18px;
    padding: 5px 5px;
    border-bottom: 1px dotted #e1e1e1;
    position: relative;
}

.noteList h4{
    margin: 0;
    color: #47a3da;
}

.option{
    position: absolute;
    color: #000;
    right: 0px;
    top: 0;
}


/*-- Body Wrapper --*/

.body-wrapper{
    position: relative;
    padding-top: 15px;
}


.page-wrapper{
    display: block;
    position: relative;
    padding-left: 160px;
}

.page-wrapper.page-fullsize{
    padding-left:10px !important; ;
}

.sidebar{
    background:#47a3da;
    width: 150px;
    float: left;
    z-index: 1;
    position: absolute;
    left: 0;
}

.sidebar a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

.sidebar a:hover {
    background: #0d77b6;
    text-decoration: none;
}

.sidebar a:active {
    background: #afdefa;
    color: #47a3da;
}

.sidebar,.page-wrapper {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-left.sidebar-close{
    left: -150px;
}

.sidebar-left {
    left: 0;
}

/*-- toggle nav --*/
.toggleNav {
    position: relative;
    padding: 8px;
    margin-left: 15px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    vertical-align: middle;
    text-decoration: none;
}

.toggleNav .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #000;
    margin-bottom: 3px;
}
